# This file defines code owners for the Virtual-Private-Node repository
# Owners are defined as GitHub usernames (e.g., @username)
#
# More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @ripsline